<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Report Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="sidebar">
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('blood_report_analyzer') }}">Blood Report Analyzer</a></li>
            <li><a href="{{ url_for('x_ray_analyzer') }}">X-ray Analyzer</a></li>
            <li><a href="{{ url_for('ecg_analyzer') }}">ECG Analyzer</a></li>
        </ul>
    </div>
    <div class="main-content">
        <h1>Blood Report Analyzer</h1>
        <form action="{{ url_for('blood_report_analyzer') }}" method="post" enctype="multipart/form-data" class="upload-form">
            <label for="file-upload" class="file-label"><h2>Upload Blood Report:</h2></label>
            <input type="file" id="file-upload" name="file" accept=".pdf, .jpg, .jpeg, .png" class="file-input" multiple>
            <button type="submit" class="upload-btn">Analyze</button>
        </form>
    </div>
</body>
</html>








<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Report Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="sidebar">
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('blood_report_analyzer') }}">Blood Report Analyzer</a></li>
            <li><a href="{{ url_for('x_ray_analyzer') }}">X-ray Analyzer</a></li>
            <li><a href="{{ url_for('ecg_analyzer') }}">ECG Analyzer</a></li>
        </ul>
    </div>
    <div class="main-content">
        <h1>Blood Report Analyzer</h1>
    </div>
</body>
</html> -->
