<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Report Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="sidebar">
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('blood_report_analyzer') }}">Blood Report Analyzer</a></li>
            <li><a href="{{ url_for('x_ray_analyzer') }}">X-ray Analyzer</a></li>
            <li><a href="{{ url_for('ecg_analyzer') }}">ECG Analyzer</a></li>
        </ul>
    </div>
    <div class="main-content">
        <h1>ECG Analyzer</h1>
        <div class="blood-content">
        <p>
            Welcome to the <b>ECG Analyzer!</b> This feature is under development.
        </p>
        </div>
    </div>
</body>
</html>
